<html>
<head>
	<meta charset="UTF-8">
	<title>JetFuel</title>
</head>
<body>
	<form action="/" method="post">
		<input type="text" placeholder="url" name="url">
		<input type="submit" value="Shorten!">
	</form>

	<% urls.each do |url| %>
		<p><b><%= url.url %></b></p>
		<p><%= url.pretty_url %></p>
	<% end %>
</body>
</html>
